<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookingUni</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="container">

        {{#if error}}
        <div>
            {{!-- <div class="notification loadingBox">
                Loading …
            </div>
            <div class="notification infoBox">
                <span>Info</span>
            </div> --}}
            <div class="notification errorBox">
                <span>{{error}}</span>
            </div>
        </div>
        {{/if}}

        <nav>
            {{#if isUser}}
            <div class="left-container">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/hotels/create">Add +</a></li>
                </ul>
            </div>
            <div class="right-container">
                <a href="/profile" class="log-out">{{user.username}}</a>
                <a href="/logout" class="log-out">Logout</a>
            </div>
            {{else}}
            <div class="left-container">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
            {{/if}}
        </nav>

        {{{body}}}

        <footer>@SoftUni - JS Back-end - BookingUni 2020</footer>
    </div>

</body>

</html>

{{#if isUser}}
<!--Only for logged user-->
<a href="/profile">Profile</a>
<a href="/books/create-review">Create Review</a>
<a href="/logout">Logout</a>
{{else}}
<!--Only for guest-->
<a href="/login">Login</a>
<a href="/register">Register</a>
{{/if}}